body {
    width: 100%;
    max-width: 100vw;
    margin: 1 auto;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.2rem;
    line-height: 2rem;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        header h1 {
          font-family: 'Big Shoulders Stencil Display', cursive;
          font-size: 5rem;
          color: #2b5303; }
        header .menu {
          display: inline-block;
          text-align: center;
          font-family: 'Big Shoulders Stencil Display', cursive;
          font-size: 2rem;
          letter-spacing: 0.2rem;
          word-spacing: 0.1rem; }
          header .menu .menu ul li {
            display: inline-block;
            position: relative;
            text-align: center; }
          header .menu ul ul {
            position: absolute;
            display: none; }
          header .menu ul ul li {
            display: block; }
          header .menu .menu ul li a {
            display: block;
            text-decoration: none;
            color: black; }
          header .menu ul li:hover ul {
            display: block; }
          header .menu .menu ul li a:hover {
            background-color: #17f00f; }
          header .menu li:hover {
            background-color: darkgreen; }

            /* LISTAS*/
li{
    list-style: none;
}

/* ENLACES*/
a:hover {
    color: darkred;
    background-color: lightskyblue;
}
a{
    text-decoration: none;
    padding: 2px 1px 0;
}

#jesusBailando{
  width: 500px;
  height: 800px;
  margin: auto;
}